* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Parkinsans", sans-serif;
}

body {
  margin-bottom: 120px;
  background-color: var(--white);
  color: var(--black);
}

:root {
  --primary: #e2e8f0;
  --white: #fff;
  --black: #000;

  --gray-50: #f7fafc;
  --gray-100: #edf2f7;
  --gray-200: #e2e8f0;
  --gray-300: #cbd5e0;
  --gray-400: #a0aec0;
  --gray-500: #718096;
  --gray-600: #4a5568;
  --gray-700: #2d3748;
  --gray-800: #1a202c;
  --gray-900: #171923;

  --black-alpha: rgba(226, 232, 240, 0.5);
}

:root.dark {
  --primary: #2d3748;
  --white: #000;
  --black: #fff;

  --gray-500: #e2e8f0;
  --black-alpha: rgba(255, 255, 255, 0.5);
}

button {
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background-color: var(--primary);
  color: var(--gray-500);
}

.center {
  width: 968px;
}

@media screen and (max-width: 968px) {
  .center {
    width: 100%;
    padding: 0 16px;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner-box {
  width: 100%;
  height: 80px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 5px solid transparent;
  border-left-color: #09f;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
