.main {
  margin-top: 80px;
  display: flex;
  justify-content: center;
}

/*   search-section   */
.search-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 12px;
  border: 2px solid var(--gray-300);
  border-radius: 8px;
}

.search-form {
  display: flex;
  gap: 8px;
}

.search-form input {
  flex: 1;
  padding: 8px;
  border: 2px solid var(--gray-200);
  border-radius: 8px;
}

.search-form button {
  padding: 10px 5px;
}

/*   profile-section   */
.profile-section {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 32px;
  padding: 24px 40px;
  border: 2px solid var(--gray-300);
  border-radius: 8px;
}

.profile-section.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}

.profile-section.flex {
  display: flex;
  padding: 12px;
}

.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.profile-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;

  transition: all 0.3s;
}

.profile-card span {
  width: 100px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile-card img:hover {
  scale: 1.1;
}

/*   detail-user-section   */
.detail-user-section {
  display: flex;
  flex-direction: column;
  gap: 36px;
  padding: 12px;
  border: 2px solid var(--gray-300);
  border-radius: 8px;
}

.detail-user-info,
.detail-user-repos {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.user-info-flex {
  display: flex;
  gap: 24px;
}

.user-img {
  width: 300px;
  height: 300px;
  cursor: pointer;
}

.user-info-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.user-tags {
  display: flex;
  gap: 8px;
  font-size: 12px;
  color: var(--white);
}

.user-tag {
  padding: 4px 16px;
  border-radius: 4px;
  background-color: var(--gray-500);
}

.user-description {
  flex: 1;
  border: 1px solid var(--gray-300);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.user-description p,
.user-description a {
  padding: 8px;
  flex: 1;
  border: 1px solid var(--gray-100);
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--black);
}

.commit-img {
  width: 100%;
  aspect-ratio: 663/103;
}

.user-repo-flex {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.user-repo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;

  border: 1px solid var(--gray-200);
  padding: 0 16px;
}

.repo-name {
  font-size: 15px;
  font-weight: 600;
  color: var(--gray-500);
  text-decoration: none;
  cursor: pointer;
}

.repo-info {
  display: flex;
  gap: 8px;
  font-size: 12px;
  color: var(--white);
}

.repo-info span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 0;
  width: 120px;
  border-radius: 4px;
  background-color: var(--gray-500);
}

@media screen and (max-width: 968px) {
  .user-info-flex {
    flex-direction: column;
    align-items: center;
  }

  .user-info-flex img {
    border-radius: 50%;
  }

  .user-info-right {
    width: 100%;
  }

  .user-repo {
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    gap: 8px;
  }

  .repo-info {
    width: 100%;
  }

  .repo-info span {
    flex: 1;
  }
}
